<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>This is Rolldice page</h1>
    <h3>Dice Gave value <%=num%></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam voluptate autem doloremque cupiditate ipsa delectus at voluptatibus eius quas aliquid dignissimos repellat, voluptatum, iusto soluta quidem pariatur sint dicta. Quidem!</p>
    <button>Click Me</button>
</body>
</html>